body {
 margin: 0;
 padding: 0;
 background: url(./img/estrellas.jpeg);
 background-size: cover;
 background-position: center;
 font-family: sans-serif;

}


.img-fluid {
    padding: 20px;
    margin: 50px;
}

.titulo {
    margin-top: 50px;
    text-align: center;
    color: white; 
}


.form-control {
    margin-left: 50px;
    margin-right: 50px;
}


.list-group-item {
    text-align: center;
}


.list-group-1 {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px;
    margin-bottom: 100px;
}

.botones {
    display: flex;
    justify-content: center;

    margin-top: 30px;
}


.pagina {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.detalleNombre{
    text-align: center;
    color: white;
    margin-top: 30px;
    background-color: red;
}


.list-group-2 {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
    margin-bottom: 100px;
}


.personajes {
    cursor: pointer;
}